*{
	margin: 0px;padding: 0px;
}
body{
	position: relative;
}
.khoi-aboutme .btn.btn-success.contact {
    padding: 10px 20px;
    border-radius: 58%;
}

.khoi-education img {
    width: 300px;
}

p.chunho.text-muted.text-white {
    font-size: 13px;
    padding-top: 15px;
}

html,body,.mycv{
	font-family: 'Poppins', sans-serif ;
	width: 100%;
	height: 100%;
}

.khoi-education {
    background: #bdc3c7;
}
body{
	background: url('images/cubes.png');
	padding: 30px 10px 0px 10px;
}

.menu ul {
    list-style: none;
}
.nav-link.active{
	color: #ff7675;
}
/* font-family: 'Poppins', sans-serif; */
.wrapper.menuphai{
	position: fixed;
	width: 22%;
	height: 100%;
	background: #1f1f1f;
	padding-top: 40px;
	padding-bottom: 50px;
	left: 32px;
	top: 30px;
	overflow: hidden;
	float: left;

}
.wrapper.menuphai.scroll{
	overflow: scroll!important;
}
.wrapper.menuphai .logo img{
	width:120px;
	border-radius:50%;
}
.wrapper.menuphai .logo p.name{
	color: white;
	margin-top: 30px;
	font-size: 25px;
	margin-bottom: 50px;
	font-weight: 600;
}

.wrapper.menuphai .menu ul li.nav-item{
	font-weight: bold;
	border-top: 1px dashed #f4f4f47a;
	padding: 7px;
}

.wrapper.menuphai .menu ul li.nav-item a.nav-link {
    color: white;
}

.wrapper.menuphai .menu ul li.nav-item a.nav-link.active {
    color: #ff7675;
}

.wrapper.menuphai .menu ul li.nav-item:last-child {
    border-bottom: 1px dashed #f4f4f47a;
}

/* css cho div noi dung */
.noidung{
	width: 76%;
	margin-left: 24%;
	/* padding-top: 86px; */
	position: relative;
}
.noidung .home{
	position:relative;
	width: 100%;
	height: 587px;
	overflow: hidden;
}
.noidung .home .bg-home{
	max-width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.noidung .home .come{
	position: absolute;
	z-index: 3;
	color: white;
	width: 700px;
	text-align: center;
	height: 100px;
	top: 30%;
	left: 50%;
	margin-left: -350px;
	font-size: 50px;
	font-family: 'Poppins',sans-serif;
	font-weight: 600;
}
.menuphai .topicon{
	margin-top: 34px;
}
.menuphai .topicon i{
	font-size: 18px;
	color: white;
	margin: 10px 15px;
}

/* css cho khoi about me */
.khoi-aboutme{
	background: white;
	padding-bottom: 100px;
}
h1.tdkhoi{
	font-family: 'Poppins',sans-serif;
	font-size: 40px;
	font-weight: 600;
	padding-top: 126px;
	margin-bottom: 67px;
}

.khoi-education h1.tdkhoi:after {
    border-color: gray;
}
h1.tdkhoi:after{
	content: "";
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	width: 50px;
	height: 7px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	margin-top: 18px;
}

.noidung .khoi-aboutme img{
	width: 120px;
	margin-top: 40px;
	display: inline;
	margin-bottom: 46px;
}


/* css cho khoi education */

.khoi-education {
	padding: 0px 0px 100px 0px;
}
.khoi-education .tdcap2{
	font-family: 'Poppins',sans-serif;
	padding-top: 18px;
	font-size: 30px;
	color: #403e3e;
}

.khoi-education .tdcap2 span.chudam {
    font-weight: 700;
}
.khoi-education .khoitinnho h2.tdtinnho{
	color: #c72828!important;
	margin-top: 37px;
	font-size: 21px;
}

.khoi-education .khoitinnho .giaidoan{
	font-size: 13px;
	color: #4e484873;
}
.khoi-education .khoitinnho .nd{
	font-size: 17px;
	color: #3e3333;
	text-transform: capitalize;
	margin-top: -11px;
}

.khoi-education .khoitinnho {
    margin-bottom: 40px;
}

.experience .khoitinnho i {
    margin-right: 10px;
    color: white;
    margin-top: 5px;
}

/* css cho khoi strength */
.strength{
	background-color: white;
	padding-bottom: 70px;
}
.chuhong{
	color: #d63031;
}
.strength .chunho{
	font-size: 15px;
    color: #970000;
    transition: 0.4s;
}
.strength .row .chunho{
	font-size: 14px;
	color: #636e72;
	margin-top: 18px;
	line-height: 19px;
	transition: 0.4s;
}
.strength .col-sm-3._1khoi{
	border: 1px  solid #80808029;
	padding: 20px 4px;
	border-radius: 7px;
	height: 500px;
	max-width: 26%!important;
	margin-left: -25px;
	transition: 0.5s;
	cursor: pointer;
	overflow: hidden;
}

.strength .col-sm-3._1khoi:hover {
    background-color: #b2bec3;
}
.strength .col-sm-3._1khoi:hover .tdnho{
	color:white;
}
.strength .col-sm-3._1khoi:hover .chunho{
	color:#efecec;
	font-size: 16px;
	margin-top: 25px;
}
.strength .col-sm-3._1khoi:hover img{
	border-radius:5px;
	transform: scale(1.1);
}
.strength .row ._1khoi img{
	width: 95%;
	padding-top: 25px;
	transition: 0.5s;
}

.strength h3.tdnho{
    color: #14a7d7;
    transition: 0.4s;
}

/* css cho slide */
.admire  {
	padding-top: 10px;
	background-color: #dfe6e9;
	padding-bottom: 10px;
}
 /* css cho khoi hobbies */

 .hobbies{
 	background-color: #55efc4;
 	width: 100%;
 	height: 400px;
 	position: relative;
 }
  .hobbies div{
 	width: 200px;
 	height: 200px;
 }
 .hobbies .read{
 	width: 200px;
 	height: 200px;
 	position: absolute;
 	top: 0px;
 	left: 10px;
 	z-index: 3;
 	animation: dixuong 1.2s forwards;
 	opacity: 0;
 }
 .hobbies .read p{
 	font-weight: 600;
 	color: white;
 	animation: nguoclai 0.4s forwards;
 	animation-delay: 1.2s;
 }
 @-webkit-keyframes dixuong{
 	0%{top:0px;opacity: 0;}
 	100%{top:20%;opacity:1; transform: rotateZ(-30deg)}
 }
 @-webkit-keyframes nguoclai{
 	0%{transform: rotateZ(0deg)}
 	100%{ transform: rotateZ(30deg)}
 }
 .hobbies  img{
 	max-width: 100%;
 	height: auto;
 	transition: 0.4s;
 	cursor: pointer;
 }
.hobbies div:hover img{
	transform: scale(1.1);
}
.hobbies .workout{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 20%;
	left: 0px;
	animation-delay: 10s;
	animation: xoayvao 1.5s forwards;
	z-index: 4;
	opacity: 0;
}
.hobbies .workout p{
	font-weight: 600;
	margin-top: 20px;
	color: white;
}
.hobbies .workout img{
	border-radius: 10px;
	margin-top: 34px;
}
@-webkit-keyframes xoayvao{
	0%{transform: translateX(0px) rotateZ(0deg);opacity:0;}
	100%{transform:translateX(300px) rotateZ(360deg);opacity: 1;}
}


.invest{
	position: absolute;
	right: 10px;
	top: 20%;
	z-index: 5;
	animation: divao 2s forwards;

}
@-webkit-keyframes divao{
	0%{transform: translateX(0);opacity: 0; }
	100%{transform:translateX(-100px) ;opacity: 1;}

}
.invest img{
	/* animation: zoomlen 1s forwards; */
	width: 250px;
	border-radius: 10px;
}
@-webkit-keyframes zoomlen{
	0%{
		transform: scale(0);
		opacity: 0.6;
	}
	100%{transform: scale(1.2);opacity: 1;}
}
.hobbies .invest p{
	font-weight: 600;
	margin-top: 20px;
	color: white;
	animation-delay: 1s;
	animation: dilen 2.2s forwards;
}
@-webkit-keyframes dilen{
	0%{
		transform: translateY(35px) rotateX(0);
		opacity: 0;
	}
	100%{
		transform: translateY(0px) rotateX(360deg);
		opacity: 1;
	}
}


/* css cho khoi face book comment */
.facebook-comment{
	background: #74b9ff;
}

/* css cho khoi footer */
.footer{
	width: 100%;
	height: 150px;
	background: #636e72;
}
.footer .row i{
	margin-right: 10px;
}

.footer span {
    cursor: pointer;
}
.footer a{
	color: white;
	font-size: 19px;
}

.footer a:hover {
    color: #ff7675;
}
.footer p.chunho{
	font-size: 14px;
	color: #ddd9d9b3;
	margin-top: 28px;
	letter-spacing: 4px;
}

.hobbies h1.tdkhoi{
	padding-top: 8px!important;
	margin-bottom: 38px!important;
	display: block;
}


/* //Thiáº¿t káº¿ responsive cho Ä‘iá»‡n thoai */
@media (max-width: 576px) {
	*{}

.khoi-education .tdcap2 {
    font-size: 19px;
    color: #193d06;
    text-transform: uppercase;
    margin-top: 5px;
}

.khoi-education .nd {
    font-size: 15px!important;
    color: black!important;
}
.khoi-education{
	background-color:#81ecec;
}
div#_edu {
    height: auto;
    padding-bottom: 0px;
}
	.khoi-education .row img {
    visibility: hidden!important;
	}

.khoi-education .row
 {
    background-image: url('images/bg-edu1.jpg');
    background-size: cover;
    background-position:center
}
.khoi-education .experience i{
	color:blue;
}
.topicon p.chunho {
    font-size: 10px!important;
}

.topicon {
    margin-top: 5px!important;
}

.topicon i {
    font-size: 16px!important;
    margin: 5px 5px !important;
}

.menu a.nav-link {
    font-size: 12px;
}

.logo img {
    width: 78px!important;
}

.logo .name {
    font-size: 16px!important;
}

div#_hobbies div {
    width: 113px;
}

div#_hobbies .read {
    left: 33px!important;
}

.workout.text-center {
    left: -141px;
}

.invest.text-center {
    right: -61px;
}

.strength .col-sm-3._1khoi {
    margin-left: -13px;
}

.strength .col-sm-3._1khoi h3.tdnho {
    font-size: 11px;
}

.strength .col-sm-3._1khoi p.chunho {
    font-size: 11px;
}

h1.tdkhoi.text-uppercase {
    font-size: 30px;
    padding-top: 18%;
}

.noidung .home p.come.text-uppercase {
    font-size: 23px!important;
    width: 300px;
    display: block;
    left: 89%;
    position: absolute;
    z-index: 3;
    top: 38%;
}

.noidung .home#_home {
    width: 100%;
    height: 263px;
}

.noidung {
    width: 78%;
    margin-left: 29%;
}
}