*{
	margin: 0px;padding: 0px;
}

.khoi-aboutme .btn.btn-success.contact {
    padding: 10px 20px;
    border-radius: 58%;
}

.khoi-education img {
    width: 300px;
    margin-top: 69px;
}

p.chunho.text-muted.text-white {
    font-size: 13px;
    padding-top: 15px;
}

html,body,.mycv{
	font-family: 'Poppins', sans-serif ;
	width: 100%;
	height: 100%;
}

.khoi-education {
    background: #bdc3c7;
}
body{
	background: url('images/cubes.png');
	padding: 30px 10px;
}

.menu ul {
    list-style: none;
}
/* font-family: 'Poppins', sans-serif; */
.wrapper.menuphai{
	position: fixed;
	width: 22%;
	height: 100%;
	background: #1f1f1f;
	padding-top: 40px;
	padding-bottom: 50px;
	left: 32px;
	top: 30px;
	overflow: hidden;
	float: left;

}
.wrapper.menuphai.scroll{
	overflow: scroll!important;
}
.wrapper.menuphai .logo img{
	width:120px;
	border-radius:50%;
}
.wrapper.menuphai .logo p.name{
	color: white;
	margin-top: 30px;
	font-size: 25px;
	margin-bottom: 50px;
	font-weight: 600;
}

.wrapper.menuphai .menu ul li.nav-item{
	font-weight: bold;
	border-top: 1px dashed #f4f4f47a;
	padding: 7px;
}

.wrapper.menuphai .menu ul li.nav-item a.nav-link {
    color: white;
}

.wrapper.menuphai .menu ul li.nav-item:last-child {
    border-bottom: 1px dashed #f4f4f47a;
}

/* css cho div noi dung */
.noidung{
	width: 76%;
	margin-left: 24%;
	/* padding-top: 86px; */
	position: relative;
}
.noidung .home{
	position:relative;
	width: 100%;
	height: 587px;
	overflow: hidden;
}
.noidung .home .bg-home{
	max-width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.noidung .home .come{
	position: absolute;
	z-index: 3;
	color: white;
	width: 700px;
	text-align: center;
	height: 100px;
	top: 30%;
	left: 50%;
	margin-left: -350px;
	font-size: 50px;
	font-family: 'Poppins',sans-serif;
	font-weight: 600;
}
.menuphai .topicon{
	margin-top: 34px;
}
.menuphai .topicon i{
	font-size: 18px;
	color: white;
	margin: 10px 15px;
}

/* css cho khoi about me */
.khoi-aboutme{
	background: white;
	padding-bottom: 100px;
}
h1.tdkhoi{
	font-family: 'Poppins',sans-serif;
	font-size: 40px;
	font-weight: 600;
	padding-top: 126px;
	margin-bottom: 67px;
}

.khoi-education h1.tdkhoi:after {
    border-color: gray;
}
h1.tdkhoi:after{
	content: "";
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	width: 50px;
	height: 7px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	margin-top: 18px;
}

.noidung .khoi-aboutme img{
	width: 120px;
	margin-top: 40px;
	display: inline;
	margin-bottom: 46px;
}


/* css cho khoi education */

.khoi-education {
	padding: 0px 0px 100px 0px;
}
.khoi-education .tdcap2{
	font-family: 'Poppins',sans-serif;
	padding-top: 18px;
	font-size: 30px;
	color: #403e3e;
}

.khoi-education .tdcap2 span.chudam {
    font-weight: 700;
}
.khoi-education .khoitinnho h2.tdtinnho{
	color: #c72828!important;
	margin-top: 37px;
	font-size: 21px;
}

.khoi-education .khoitinnho .giaidoan{
	font-size: 13px;
	color: #4e484873;
}
.khoi-education .khoitinnho .nd{
	font-size: 17px;
	color: #3e3333;
	text-transform: capitalize;
	margin-top: -11px;
}

.khoi-education .khoitinnho {
    margin-bottom: 40px;
}

.experience .khoitinnho i {
    margin-right: 10px;
    color: white;
    margin-top: 5px;
}
